<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Debug Plants</title>
  <link rel="icon" href="/img/favicon.jpg" type="image/jpeg">

  <!-- Libraries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script>

  <link rel="stylesheet" href="/css/debug.css">
</head>

<body>
  <div id="three-container"></div>
  <script src="/js/debug.js"></script>
</body>
</html>
