<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Garden is a Loop</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <style>
    .hidden-form {
      display: none;
    }
  </style>
</head>
<body>
  <div class="background"></div>
  <img src="/2dassets/letter.png" class="letter" alt="Letter">
  
  <!-- Bookmarks in top left corner -->
  <a href="/login">
    <img src="/2dassets/login.png" class="bookmark login" alt="Login">
  </a>
  <a href="/register">
    <img src="/2dassets/signup.png" class="bookmark signup" alt="Sign Up">
  </a>
  
  <!-- Bookmarks in bottom right corner -->
  <!-- Your Garden bookmark now submits a form to saveGarden -->
  <a href="#" onclick="document.getElementById('createGardenForm').submit(); return false;">
    <img src="/2dassets/your_garden.png" class="bookmark garden" alt="Your Garden">
  </a>
  <form id="createGardenForm" class="hidden-form" action="/saveGarden" method="POST">
    <input type="hidden" name="owner" value="Anonymous">
    <input type="hidden" name="gardenName" value="Untitled Garden">
  </form>
  
  <a href="/explore">
    <img src="/2dassets/explore.png" class="bookmark explore" alt="Explore">
  </a>
  
  <script src="/js/main.js"></script>
</body>
</html>
