<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Garden is a Loop</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/auth-transition.css">
  <style>
    .welcome-message {
      position: fixed;
      top: 48%;
      left: 48%;
      transform: translate(-50%, -50%);
      z-index: 0;
      font-family: 'PPPangaia', sans-serif;
      font-size: 3rem;
      color: white;
      text-align: center;
      display: none;
      will-change: transform;
    }
    
    .welcome-message .username {
      font-weight: bold;
      display: block;
      font-size: 4rem;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <div class="background"></div>
  <% if (user) { %>
    <div class="welcome-message" style="display: block;">
      welcome, <span class="username"><%= user.username %></span>
    </div>
  <% } else { %>
    <img src="/2dassets/letter.png" class="letter" alt="Letter">
  <% } %>
  
  <!-- Auth bookmarks -->
  <div class="auth-bookmarks">
    <% if (!user) { %>
      <!-- Login/Signup bookmarks (shown when logged out) -->
      <a href="/login" class="bookmark-link login-link">
        <img src="/2dassets/login.png" class="bookmark login" alt="Login">
      </a>
      <a href="/register" class="bookmark-link signup-link">
        <img src="/2dassets/signup.png" class="bookmark signup" alt="Sign Up">
      </a>
    <% } else { %>
      <!-- Logout bookmark (shown when logged in) -->
      <a href="/logout" class="bookmark-link logout-link">
        <img src="/2dassets/logout.png" class="bookmark logout" alt="Logout">
      </a>
    <% } %>
  </div>
  
  <!-- Bookmarks in bottom right corner -->
  <% if (user) { %>
    <a href="/mygarden">
      <img src="/2dassets/your_garden.png" class="bookmark garden" alt="Your Garden">
    </a>
  <% } %>

  <a href="/explore">
    <img src="/2dassets/explore.png" class="bookmark explore" alt="Explore">
  </a>
  
  <script src="/js/main.js"></script>
  <script src="/js/auth-transition.js"></script>
</body>
</html>
