<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register - The Garden is a Loop</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/auth.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body class="auth-page">
  <div class="background full-page-bg" data-tilt data-tilt-max="1" data-tilt-speed="1" data-tilt-perspective="1000" data-tilt-scale="1" data-tilt-full-page-listening></div>

  <div class="form-wrapper show-form">
    <div class="form-container signup-form">
      <div data-tilt data-tilt-max="10" data-tilt-speed="1" data-tilt-perspective="1000" data-tilt-scale="1.03" class="tilt-container parallax-container" data-tilt-reset="false">
        <img src="/img/signup_form.png" class="form-image show-image parallax-item" alt="Signup Form">
        <div class="input-overlay show-inputs parallax-item">
          <form id="signup-form" method="POST" action="/register">
             <% if (typeof error !== 'undefined' && error) { %>
                 <p class="error-message"><%= error %></p>
             <% } %>
            <input type="text" id="signup-username" name="username" placeholder="choose a username" class="username-field input-field" required>
            <input type="password" id="signup-password" name="password" placeholder="choose a password" class="password-field input-field" required>
            <input type="password" id="signup-confirm" name="confirmpassword" placeholder="confirm password" class="password-field input-field" required>
            <button type="submit" id="signup-submit" name="submitbutton" class="img-submit-btn">
              <img src="/img/save.png" alt="Sign Up" class="submit-img">
            </button>
          </form>
          <a href="/login" class="form-link login-link">Already have an account? Login</a>
        </div>
      </div>
    </div>
  </div>

  <a href="/" class="home-link">Home</a>

  <script src="/lib/vanilla-tilt.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/auth.js"></script>
</body>
</html>
