.background {
  position: fixed;
  top: -20px;
  left: -20px;
  width: calc(150% + 40px);
  height: calc(150% + 40px);
  z-index: -1;
  background: url('/2dassets/main_bg.png') no-repeat center center;
  background-size: cover;
  opacity: 1;
  will-change: transform;
}

@font-face {
  font-family: 'PPPangaia';
  src: url('/fonts/PPPangaia-Bold.otf') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: 'PPPangaia';
  src: url('/fonts/PPPangaia-Ultralight.otf') format('opentype');
  font-weight: 100;
}

body {
  font-family: 'PPPangaia', sans-serif;
  mix-blend-mode: difference;
  color: white;
  margin: 0;
  padding: 0;
}

.letter {
  position: fixed;
  top: 48%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 0;
  max-width: 90vw;
  max-height: 90vh;
  will-change: transform;
}

.bookmark {
  position: fixed;
  width: 40vh;
  transition: transform 0.3s ease;
  cursor: pointer;
  z-index: 10;
}

.bookmark.login {
  top: -1vh;
  left: 0vh;
  transform: rotate(277deg);
}

.bookmark.signup {
  top: -1vh;
  left: 15vh;
  transform: rotate(267deg);
}

.bookmark.garden {
  bottom: -1vh;
  right: 15vh;
  transform: rotate(88deg);
}

.bookmark.explore {
  bottom: -1vh;
  right: 0vh;
  transform: rotate(97deg);
}

.bookmark.login:hover {
  transform: rotate(285deg) scale(1.1) translateX(-5vh);
}

.bookmark.signup:hover {
  transform: rotate(265deg) scale(1.1) translateX(-5vh);
}

.bookmark.garden:hover {
  transform: rotate(85deg) scale(1.1) translateX(-5vh);
}

.bookmark.explore:hover {
  transform: rotate(105deg) scale(1.1) translateX(-5vh);
}

/* Logout bookmark positioning */
.bookmark.logout {
  top: -1vh;
  left: 0vh;
  transform: rotate(277deg);
}

.bookmark.logout:hover {
  transform: rotate(285deg) scale(1.1) translateX(-5vh);
} 